# Virtual environment
.venv/

# Python crap
__pycache__/

# JSON "Databases"
app/data/users.json

# environment variables
.env

# Remote repository storage
app/data/repos/

# Test data
/tests/data/
!/tests/data/
/tests/data/*

# Personal docs
*.md
!README.md