<!DOCTYPE html>
<html>
<head>
    <title>GitMiniHub</title>
</head>
<body>
    <h1>Welcome to GitMiniHub</h1>
    <p>This is the homepage</p>

    <form action="/search" method="get">
        <label>User:</label>
        <input type="text" name="user"><br><br>
        <label>Repository:</label>
        <input type="text" name="repo"><br><br>
        <button type="submit">Search</button>
    </form>

    <br>

    <div>
        <a href="/signup"><button>Sign Up</button></a>
        <a href="/login"><button>Sign In</button></a>
    </div>
</body>
</html>
