{% extends "base.html" %}

{% block title %}Sign Up – GitMiniHub{% endblock %}

{% block content %}
<h1>Create your GitMiniHub account</h1>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post" action="/signup">
    <label>Username:</label>
    <input type="text" name="username" required><br><br>

    <label>Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="button" id="toggle-btn" onclick="togglePassword()">See Password</button><br><br>

    <button type="submit">Sign Up</button>
</form>

<p>Already have an account? <a href="/login">Log in</a></p>
{% endblock %}
